
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-image: url(./img/space.png);
  background-size: 100%;
  font-family: 'Poppins', sans-serif;
}

.music{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.title{
    font-weight: 700;
    font-size: 12px;
    color: hsl(250, 66%, 75%);
    text-align: center;
    margin-bottom:10px;
}

.player{
    position: relative;
    width: 125px;
    min-height: 20px;
    background-color: transparent;
    border: none;
    border-radius: 40px;
    padding: 10px 15px;
    
}

.btns{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btns span{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: hsl(250, 66%, 75%);
    box-shadow: inset 0 -3px 3px rgba(0,0,0,0.1),
                0 3px 5px rgba(0,0,0,0.1),
                0 5px 8px rgba(0,0,0,0.1);
}
.btns span:active,
.btns span.active{
    color: hsl(250, 66%, 75%);
    box-shadow: inset 0 -4px 3px rgba(0,0,0,0.025),
                inset 0 3px 5px rgba(0,0,0,0.15);
}

.btns span.playPause{
    width: 25px;
    height: 25px;
}

.btns span ion-icon{
    font-size: 1em;
}

.btns span.playPause ion-icon{
    font-size: 2em;
}




.sun {
  height: 120px;
  width: 120px;
  background-image: url(./img/sol.png);
  border-radius: 50%;
  background-size: cover;
  box-shadow: -4px 2px 56px #f9c05f;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mercury {
  height: 20px;
  width: 20px;
  background: #a94c2b;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #f9c05f;
  left: 43%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation: orbit2 2s linear infinite;
}

@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(70px) rotate(-360deg);
  }
}

p {
  color: white;
  font-family: system-ui;
  position: absolute;
  left: -62px;
  top: -11px;
}

.mercury-outline,
.venus-outline-1,
.earth-outline-1,
.mars-outline-1,
.jupiter-outline-1,
.saturn-outline-1,
.urans-outline-1,
.neptune-outline-1 {
  border-radius: 50%;
  border: 1px dotted #ddd9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mercury-outline {
  height: 140px;
  width: 140px;
}

.venus {
  height: 40px;
  width: 40px;
  background-image: url(./img/venus.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #c1aa81;
  left: 40%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation: orbit3 10s linear infinite;
}

@keyframes orbit3 {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.venus-outline-1 {
  height: 200px;
  width: 200px;
}

.earth {
  height: 50px;
  width: 50px;
  background-image: url(./img/image.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #2855d6;
  left: 44%;
  top: 43%;
  transform: translate(-50%, -50%);
  animation: orbit4 20s linear infinite;
}
@keyframes orbit4 {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

.earth-outline-1 {
  height: 300px;
  width: 300px;
}

.earth-circle {
  height: 65px;
  width: 65px;
  border: 1px dotted #fff;
  position: relative;
  left: -8px;
  top: -8px;
  border-radius: 40px;
}

.earth-inner {
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 45%;
  top: 45%;
  animation: orbit5 3s linear infinite;
}

@keyframes orbit5 {
  from {
    transform: rotate(0deg) translateX(33px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(33px) rotate(-360deg);
  }
}

.mars {
  height: 30px;
  width: 30px;
  background-image: url(./img/marte.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #fea335;
  left: 46.5%;
  top: 46.5%;
  transform: translate(-50%, -50%);
  animation: orbit6 30s linear infinite;
}

@keyframes orbit6 {
  from {
    transform: rotate(0deg) translateX(185px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(185px) rotate(-360deg);
  }
}

.mars-outline-1 {
  height: 370px;
  width: 370px;
}

.jupiter {
  height: 40px;
  width: 40px;
  background-image: url(./img/jupiter.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #cac2b9;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit7 60s linear infinite;
}

@keyframes orbit7 {
  from {
    transform: rotate(0deg) translateX(217px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(217px) rotate(-360deg);
  }
}

.jupiter-outline-1 {
  height: 430px;
  width: 430px;
}

.saturn {
  height: 50px;
  width: 50px;
  background-image: url(./img/saturno.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit8 90s linear infinite;
}

@keyframes orbit8 {
  from {
    transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}

.saturn-outline-1 {
  height: 500px;
  width: 500px;
}

.urans {
  height: 30px;
  width: 30px;
  background-image: url(./img/urano.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #cac2b9;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit9 200s linear infinite;
}

@keyframes orbit9 {
  from {
    transform: rotate(0deg) translateX(280px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(280px) rotate(-360deg);
  }
}

.urans-outline-1 {
  height: 560px;
  width: 560px;
}

.neptune {
  height: 30px;
  width: 30px;
  background-image: url(./img/netuno.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #cac2b9;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit10 400s linear infinite;
}

@keyframes orbit10 {
  from {
    transform: rotate(0deg) translateX(310px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(310px) rotate(-360deg);
  }
}

.neptune-outline-1 {
  height: 620px;
  width: 620px;
}


@media screen and (max-width: 1020px) {
  .music {
    justify-content: center;
    align-items: center;
  }

  .player {
    width: 100px;
  }

  .sun, .mercury, .venus, .earth,  .mars,  .jupiter,  .saturn,  .urans,  .neptune{
    height: 10px;
    width: 10px;
  }

  .mercury {
    left: 46%;
    top: 47%;
    transform: translate(-50%, -50%);
    animation: orbit2 2s linear infinite;
  }
  
  @keyframes orbit2 {
    from {
      transform: rotate(0deg) translateX(35px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(35px) rotate(-360deg);
    }
  }

  .venus {
    left: 44%;
    top: 45%;
    transform: translate(-50%, -50%);
    animation: orbit3 10s linear infinite;
  }
  
  @keyframes orbit3 {
    from {
      transform: rotate(0deg) translateX(58px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(58px) rotate(-360deg);
    }
  }

  .earth {
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    animation: orbit4 20s linear infinite;
  }
  @keyframes orbit4 {
    from {
      transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(75px) rotate(-360deg);
    }
  }

  .mars {
    left: 46%;
    top: 46%;
    transform: translate(-50%, -50%);
    animation: orbit6 30s linear infinite;
  }
  
  @keyframes orbit6 {
    from {
      transform: rotate(0deg) translateX(95px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(95px) rotate(-360deg);
    }
  }

  .jupiter {
    left: 46%;
    top: 49%;
    transform: translate(-50%, -50%);
    animation: orbit7 60s linear infinite;
  }
  
  @keyframes orbit7 {
    from {
      transform: rotate(0deg) translateX(120px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(120px) rotate(-360deg);
    }
  }

  .saturn {
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    animation: orbit8 90s linear infinite;
  }
  
  @keyframes orbit8 {
    from {
      transform: rotate(0deg) translateX(140px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(140px) rotate(-360deg);
    }
  }

  .urans {
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    animation: orbit9 200s linear infinite;
  }
  
  @keyframes orbit9 {
    from {
      transform: rotate(0deg) translateX(160px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(160px) rotate(-360deg);
    }
  }

  .neptune {
    left: 48%;
    top: 49%;
    transform: translate(-50%, -50%);
    animation: orbit10 400s linear infinite;
  }
  
  @keyframes orbit10 {
    from {
      transform: rotate(0deg) translateX(180px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(180px) rotate(-360deg);
    }
  }

  .mercury-outline,
.venus-outline-1,
.earth-outline-1,
.mars-outline-1,
.jupiter-outline-1,
.saturn-outline-1,
.urans-outline-1,
.neptune-outline-1 {
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.mercury-outline {
  height: 70px; /* 50% do tamanho original */
  width: 70px; /* 50% do tamanho original */
}
.venus-outline-1 {
  height: 110px; /* 50% do tamanho original */
  width: 110px; /* 50% do tamanho original */
}
.earth-outline-1{
  height: 150px;
  width: 150px;
}
.mars-outline-1{
  height: 190px;
  width: 190px;
}
.jupiter-outline-1{
  height: 240px;
  width: 240px;
}
.saturn-outline-1{
  height: 280px;
  width: 280px;
}
.urans-outline-1{
  height: 320px;
  width: 320px;
}
.neptune-outline-1{
  height: 360px;
  width: 360px;
}


.earth-circle{
  height: 24px;
  width: 24px;
  border: 1px dotted #fff ;
  position: relative;
  left: -8px;
  top: -8px;
  border-radius: 40px;
}

.earth-inner {
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 45%;
  top: 45%;
  animation: orbit5 3s linear infinite;
}
@keyframes orbit5 {
  from {
    transform: rotate(0deg) translateX(12px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(12px) rotate(-360deg);
  }
}
  
}


